<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-nr-min.css" />
  </head>

  <body style="margin: 20px;">
   <div class="header">
    <h1>Credit</h1>

  
    <h2>A tool for tracking progress towards a Merit (https://github.com/wookoouk/merit) badge.</h2>
  
</div>


  </body>
</html>